#conteiner{
    display: flex;

}
.cartao {
    margin: 1rem 1rem;
    background-color: floralwhite;
}

body {
    background-color: rgb(33, 122, 182);
    font-size: 3rem;
    font-family: 'bokor';
    color: cornflowerblue;
    font-family:Bai Jamjuree 
}

footer {
    background-color: rgb(14, 131, 135);
    color: rgb(0, 0, 0);
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0,5rem;
}